<h1>Edit photo</h1>
<form action="/edit_photo">
  <label for="url"> Image URL </label>
    <input id="url" type="text" name="da_URL">
  <label for="cap"> Source </label>
    <input id="src" type="text" name="da_source">
  <button>Add photo</button>
</form>
